<div class="container">


<div id="signup-form" class="col-12">
  <div id="signup-box">

      <h2>Login</h2>


<form action="/login" method="POST" id="form-container">
 <label for="email"></label>
  <input id="email" type="email" name="email" placeholder="Email">

  <label for="password"></label>
  <input id="password" type="password" name="password" placeholder="Passwort">


  <button type="submit" id="btn-form-login">Anmelden</button>
<br>
<a href="/auth/google">Anmelden mit Google</a> <br>

<p>
Neu bei HelloCook? <a href="/signup">Jetzt registrieren</a>
  </p>
</form>

</div>
</div>

</div>