<h1>Willkommen auf HelloCook</h1>
<p>Deine Community f체r gesunde Ern채hrung und leckere Rezepte</p>

<p>SEARCH - Function </p>
<label for="suche">Suchbegriff eingeben</label> 
<input type="search" id="suche" placeholder="Suche...">

<p> Beliebte Rezepte </p>
<p> Rezepte zusammenfassen nach Dishtype Fr체hst체ck/Mittag/Abend </p>



<p>Neueste Rezepte</p>



<h4>Werde zum HelloCook</h4>

<div "container">
<div class="row align-items-start">
  <div class="col-3">
<img src="../images/benutzer.svg" height="42" > <br>
Erstelle dein Profil 
</div>
  <div class="col-3">
<img src="../images/essen.svg" height="42"> <br>
Lade eigene Rezepte hoch
</div>
  <div class="col-3">
<img src="../images/schnittstelle.svg" height="42"> <br>

Speichere deine Lieblingsrezepte ab
</div>

</div>
</div>