<h1>Willkommen auf HelloCook</h1>
<p>Deine Community für gesunde Ernährung und leckere Rezepte</p>

<label for="suche"></label> 
<input type="search" id="suche" name:"search" placeholder="Suchbegriff eingeben">

<div id="popular-recipe"> 
    
    <h4>Beliebte Rezepte </h4>

Wie kriege ich hier Rezepte angezeigt?

</div>



<div> Rezepte zusammenfassen nach Gerichten Hauptspeisen / Vorspeisen / Suppen   </div>



<div>
    
    
    <h4>Neueste Rezepte </h4>
    
    </div>



<h4>Werde zum HelloCook</h4>

<div "container">
<div class="row align-items-start">
  <div class="col-3">
<img src="../images/benutzer.svg" height="42" > <br>
Erstelle dein Profil 
</div>
  <div class="col-3">
<img src="../images/essen.svg" height="42"> <br>
Lade eigene Rezepte hoch
</div>
  <div class="col-3">
<img src="../images/schnittstelle.svg" height="42"> <br>

Speichere deine Lieblingsrezepte ab
</div>
<p id="btn-recipe-submit">
Neu bei HelloCook? <br><a href="/signup"></a>
  </p>

</div>

</div>