
<div class="home">
  <div class="home-hero">

    <div class="hero">
      <section class="home-headline">
      <h1>Willkommen auf HelloCook</h1>
      <p>Deine Community für gesunde Ernährung und leckere Rezepte</p>
      </section>
    </div>
  </div>

<div class="container" id="home-signup-section">
    <div class="sign-up">
    
      <div class="sign-up-header">
      <h4>Werde zum HelloCook</h4>
      </div>

        <div class="row" id="signup-process">
          <div class="col-4" id="signup-steps">
            <img src="../images/benutzer.svg" height="50" >
            <h6>Erstelle dein Profil  </h6> 
           </div>
          <div class="col-4" id="signup-steps">
            <img src="../images/essen.svg" height="50"> 
            <h6>Lade eigene Rezepte hoch</h6> 
          </div>
         <div class="col-4" id="signup-steps">
            <img src="../images/schnittstelle.svg" height="50"> 
            <h6>Finde neue Rezepte</h6> 
          </div>
        </div>

       
        <div id="home-signup">
          <a href="/signup" id="btn-home-signup">Registrieren </a>
        </div>
    </div>
  </div>
</div>






{{!-- <div "container">
<div class="row align-items-start">
  <div class="col-3">
<img src="../images/benutzer.svg" height="42" > <br>
Erstelle dein Profil 
</div>
  <div class="col-3">
<img src="../images/essen.svg" height="42"> <br>
Lade eigene Rezepte hoch
</div>
  <div class="col-3">
<img src="../images/schnittstelle.svg" height="42"> <br>

Speichere deine Lieblingsrezepte ab
</div>
<p id="btn-recipe-submit">
Neu bei HelloCook? <br><a href="/signup"></a>
  </p>

</div>

</div> --}}