<h2>Login</h2>

<form action="/login" method="POST" id="form-container">
  <label for="username">Benutzername</label>
  <input id="username" type="text" name="username" placeholder="Benutzername">
  <br><br>
  <label for="password">Passwort</label>
  <input id="password" type="password" name="password" placeholder="Passwort">

  <br><br>

  <button type="submit">Anmelden</button>
<br>
<a href="/auth/google">Anmelden mit Google</a> <br>
<a href="/auth/facebook">Anmelden Facebook</a>  

<p>
Neu bei HelloCook? <br><a href="/signup">Jetzt registrieren</a>
  </p>
</form>

{{!-- <h2>New Login</h2>
<form action="/login" method="POST" id="form-container">
 <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Your amazing username">
    </div>
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <div class="form-group">
        <label class="form-check-label"><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form> --}}