
<div id="signup-form" class="col-12">
  <div id="signup-box">

      <h2>Login</h2>


<form action="/login" method="POST" id="form-container">
 <label for="email">E-Mail</label>
  <input id="email" type="email" name="email" placeholder="Email">
  <br><br>
  {{!-- <label for="username">Benutzername</label>
  <input id="username" type="text" name="username" placeholder="Benutzername">
  <br><br> --}}
  <label for="password">Passwort</label>
  <input id="password" type="password" name="password" placeholder="Passwort">

  <br><br>

  <button type="submit">Anmelden</button>
<br>
<a href="/auth/google">Anmelden mit Google</a> <br>

<p>
Neu bei HelloCook? <br><a href="/signup">Jetzt registrieren</a>
  </p>
</form>

</div>
</div>

