<h2>Login</h2>

<form action="/login" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="Your amazing name">
  <br><br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your safe password">

  <br><br>

  <button type="submit">Login</button>

<p>
New here? <br><a href="/signup">Join now</a>
  </p>
</form>