<div>private page</div>

    <h1>Hello {{ user.username}} </h1>


<a href="/">Sign out</a>

{{!-- Invite Friends --}}
{{!-- Nav-Bar with all recipes / favourites / add recipe  --}}
{{!-- Latest Recipes --}}