<h1>Neues Rezept hochladen</h1>



<form action="/rezepte" method="post" enctype="multipart/form-data">
  <label for="">Titel:</label>
  <input type="text" name="title">

     <label>Bilder</label>
  <input type="file" name="photo">

  <label for="">Zutaten:</label>
    <input type="text" name="ingredients">

  <label for="">Zubereitung:</label>
  <input type="text" name="directions">

  <label for="">Arbeitszeit:</label>
  <input type="number" name="duration">

   <label for="">Schwierigkeitslevel:</label>
  <input type="text" name="level">


  <button type="submit">Neues Rezept hochladen</button>
  <p> Keine Sorge. Du kannst das Rezept später noch anpassen, wenn du etwas vergessen hast.</p>
</form>

<a href="http://localhost:3000/rezepte"> Zurück zu allen Rezepten</a>
