<h2>Change the recipes' details</h2>

<form action="/recipes/{{recipe.id}}/edit" method="post">
  <label for="">Title:</label>
  <input type="text" name="title" value="{{recipe.title}}">

  <label for="">Image:</label>
    <input type="text" name="image" value="{{recipe.image}}">

  <label for="">Ingredrients:</label>
  <input type="text" name="ingredients" value="{{recipe.ingredients}}">

  <button type="submit">CHANGE</button>
</form>


<a href='/recipe-overview'> Go back to all the recipes</a>
